@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Sailec Medium';
  src: url('../fonts/Sailec_Medium.ttf');
}

@font-face {
  font-family: 'Sailec Bold';
  src: url('../fonts/Sailec_Bold.ttf');
}

@font-face {
  font-family: 'Sailec Light';
  src: url('../fonts/Sailec_Light.ttf');
}

@font-face {
  font-family: 'Sailec Thin';
  src: url('../fonts/Sailec_Thin.ttf');
}